html
  height: 100%
  min-height: 100%

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #18bcff
  background: url("../images/h5-guardians-bg.jpg") no-repeat fixed
  text-align: center
  line-height: 170%;
  height: 100%
  min-height: 100%
  margin: 0 auto
  
  @media all and (min-width:768px)
    width: 750px
  
  @media all and (min-width:992px)
    width: 970px

  @media all and (min-width:1200px)
    width: 1170px

a
  color: #00B7FF
  
table
  width: 100%
  margin: 0 5px

tr
  height: 40px

.div-content
  text-align: center
  background: url("../images/BG_Gradient.png") fixed
  height: auto
  min-height: 100%

.titlebar h1
  text-transform: uppercase
  font: 40px Impact
  background-color: #182a44
  margin: 0 -15px
  padding: 20px 0px

.titledivider
  margin: 0 -15px
  background-color: #182a44

.titleimage
  height: 9px
  background: url("../images/TitleSeperator.png") no-repeat center center
  background-size: 100% 100%;

.gamertag-style
  font-size: 22px

.matches-played-style
  font-size: 16px

.table-striped > tbody > tr
  text-align: left

.table-striped > tbody > tr:nth-of-type(odd)
  background-color: #293b55
  
.table-striped > tbody > tr:nth-of-type(even)
  background-color: #182a44

.row-centered
  text-align: center

.col-centered
  display: inline-block
  float: none
  text-align: center
  margin-right: -4px

#select-gamemode
  color: #ffffff
  background-color: #003669
  width: 140px
  overflow: hidden

#select-gamemode select
  width: 160px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 2px 2px 2px;
  border: none;
  color: #ffffff
  background: transparent url("../images/DropdownArrow.png") no-repeat 100px center
  background-color: #003669

.search-label
  color: #ffffff
  background-color: #17507c

.search-input
  color: #ffffff
  background-color: #003669

.search-button
  color: #ffffff
  background-color: #17507c

.table-match-played td
  text-align: center

.table-match-result-header th:nth-child(1)
  width: 150px
  padding-left: 10px
  text-shadow: 0px 0px 6px #000000
  color: #ffffff;
  
.table-match-result-header th:nth-child(2)
  width: 36px
  background-image: url("../images/HeaderLeft.png")
  
.table-match-result-header th:nth-child(3)
  background-image: url("../images/HeaderRight.png")
  
.table-match-result
  table-layout: fixed
  
.table-match-result th
  padding-left: 20px

.table-match-result td
  padding-left: 20px
  
.table-match-result th:last-child
  width: 100px