doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .div-content
      .container
        block content
      hr
      footer
        p &copy; #{year} - #{title}
      
    script(src='/javascripts/content.js')
    script(src='/javascripts/search.js')
    script(src='/javascripts/setup.js')